
@import url('https://fonts.googleapis.com/css?family=Raleway')
@import url('https://fonts.googleapis.com/css?family=Oswald')
@import url('https://fonts.googleapis.com/css?family=Courgette')

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: #555;
	overflow-x: hidden;
}

.body-wrapper {

}

div {
}

section {
}

.content {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
ul {

}

li {
	display: inline;
}

#symbol {
	display: block;
	float: left;
	padding-top: 25px;
	padding-left: 25px;
	width: 5%;
	border-color: white;
	border-width: 8px;
}
.nav-wrapper {
	padding: 15px;
	width: 100%;
	display: inline-block;
	text-align: right;
}
.nav-list {
	padding-right: 25px;
	padding-top: 10px;
}
.nav-button {
	border-radius: 12px;
	font-family: 'Oswald', arial;
	color: white;
	font-size: 110%;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	border-color: transparent;
	border-style: solid;
	border-width: 3px;
}
.nav-button:hover {
	border: solid white 2px;

}
.main {
	height: 600px;
}

.center-text{
	font-size: 300%;
	color: black;
	padding-left: 40px;
	padding-top: 20px;
	width: 100%;

}
.center{

	background-image: url(images/robot.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 800px;
	border-left-color: #555;
	border-left-width: 25px;

}
.Resume{
	padding-left: 40px;
}
.footer{
	color: white;
	text-align: center;
	font-size: 100%;
	padding: 10px;
}
.footer-elements{
	font-size: 80%;
	font-style: bold;
	display: inline-block;
	width: 100%;
}
.footer-elements-element{
	padding: 60px;
}