.Overall-text{
	color: white;
	text-indent: 40px;
}
h1{
	font-size: 180%;
	text-shadow: 1.5px 1.5px black;
}
h2{
	font-size: 150%;
	text-shadow: 1px 1px black;
}
h3{
	font-size: 140%;
	text-shadow: 0.5px 0.5px black;
}
.picture-large{
	padding-bottom: 5px;
	display: inline;
}
.Project{
	font-family: arial;
	font-size: 70%;
}
.Project-text{
	font-family: arial;
	padding-left: 40px;
	text-indent: 0px;
	color: white;
}

.ElectricVehicle2016{
	font-family: arial;
	font-size: 70%;
}
.ElectricVehicle2016-text{
	font-family: arial;
	padding-left: 40px;
	text-indent: 0px;
	color: white;
}

.RobotArm2016{
	font-family: arial;
	font-size: 70%;
}
.RobotArm2016-text{
	font-family: arial;
	padding-left: 40px;
	text-indent: 0px;
	color: white;
}
